ISOGEN-FILES MTO-AND-ISOMETRIC
UNITS-BORE MM
UNITS-CO-ORDS MM

PIPELINE-REFERENCE TEST-LINE-01

PIPE
    END-POINT 0 0 0 100
    END-POINT 1000 0 0 100
    COMPONENT-ATTRIBUTE1 A100B
    COMPONENT-ATTRIBUTE2 CS
PIPE
    END-POINT 1005 0 0 100
    END-POINT 2000 0 0 100
    COMPONENT-ATTRIBUTE1 A100B
    COMPONENT-ATTRIBUTE2 CS
PIPE
    END-POINT 2030 0 0 100
    END-POINT 3000 0 0 100
    COMPONENT-ATTRIBUTE1 A100B
    COMPONENT-ATTRIBUTE2 CS
PIPE
    END-POINT 3015 0 0 100
    END-POINT 4000 0 0 100
    COMPONENT-ATTRIBUTE1 A100B
    COMPONENT-ATTRIBUTE2 CS
PIPE
    END-POINT 0 500 0 100
    END-POINT 500 500 0 100
    COMPONENT-ATTRIBUTE1 A100B
    COMPONENT-ATTRIBUTE2 CS
PIPE
    END-POINT 100 1000 0 100
    END-POINT 600 1000 0 100
    COMPONENT-ATTRIBUTE1 A100B
    COMPONENT-ATTRIBUTE2 CS
ELBOW
    END-POINT 4000 0 0 100
    END-POINT 4000 500 0 100
    CENTRE-POINT 4000 100 0 100
    COMPONENT-ATTRIBUTE1 A100B
SUPPORT
    CO-ORDS 2000 0 0
    <SUPPORT_NAME> SUPP-01
